In [5]:
import torch
from torch.utils.data import DataLoader, Dataset
import pandas as pd

In [6]:
import os
import skimage.io as sk

In [29]:
from torchvision.transforms import transforms

In [31]:
from torch.utils.data import DataLoader

In [46]:
from skimage.transform import resize

In [11]:
Train_Data = pd.read_csv("./CMATERdbTrain.csv", usecols=["labels","directory"])

In [12]:
Train_Data

      labels                                directory
0          1    dataset\CMATERdbTrain\1\bcc000000.bmp
1          1    dataset\CMATERdbTrain\1\bcc000032.bmp
2          1    dataset\CMATERdbTrain\1\bcc000033.bmp
3          1    dataset\CMATERdbTrain\1\bcc000034.bmp
4          1    dataset\CMATERdbTrain\1\bcc000035.bmp
...      ...                                      ...
1572     156  dataset\CMATERdbTrain\156\bcc001573.bmp
1573     156  dataset\CMATERdbTrain\156\bcc001574.bmp
1574     156  dataset\CMATERdbTrain\156\bcc001572.bmp
1575     158  dataset\CMATERdbTrain\158\bcc001575.bmp
1576     159  dataset\CMATERdbTrain\159\bcc001576.bmp

[1577 rows x 2 columns]

In [13]:
Test_Data = pd.read_csv("./CMATERdbTest.csv", usecols=["labels","directory"])

In [14]:
Test_Data

     labels                               directory
0         1    dataset\CMATERdbTest\1\bcc000000.bmp
1         1    dataset\CMATERdbTest\1\bcc000014.bmp
2         1    dataset\CMATERdbTest\1\bcc000012.bmp
3         1    dataset\CMATERdbTest\1\bcc000011.bmp
4         1    dataset\CMATERdbTest\1\bcc000010.bmp
..      ...                                     ...
467     155  dataset\CMATERdbTest\155\bcc000467.bmp
468     156  dataset\CMATERdbTest\156\bcc000468.bmp
469     158  dataset\CMATERdbTest\158\bcc000469.bmp
470     159  dataset\CMATERdbTest\159\bcc000470.bmp
471     166  dataset\CMATERdbTest\166\bcc000471.bmp

[472 rows x 2 columns]

In [25]:
nuTest = Test_Data.to_numpy()
print(len(nuTest))

472

In [27]:
Test_Data.to_numpy()[0][1]

'dataset\\CMATERdbTest\\1\\bcc000000.bmp'

In [ ]:
sk.imread()

In [62]:
class CompundCharacterDataset(Dataset):
    def __init__(self, dir_path,  transforms=None):
        self.dataset =  pd.read_csv(dir_path, usecols=["labels","directory"])
        self.ndataset = pd.read_csv(dir_path, usecols=["labels","directory"]).to_numpy()  
        self.transforms = transforms
        
    def __getitem__(self, index):
        label = torch.tensor(self.ndataset[index][0])
        image_dir = self.ndataset[index][1]
        image = sk.imread(os.path.join(os.getcwd(),image_dir))
        image = resize(image, (100, 100, 3))
        if self.transforms:
            image = self.transforms(image)
        return label, image
    
        
    def __len__(self):
        return len(self.ndataset)

In [63]:
test_dataset = CompundCharacterDataset(dir_path="./CMATERdbTest.csv",transforms=transforms.ToTensor())

In [64]:
test_loader = DataLoader(dataset=test_dataset, batch_size=256, shuffle= False )

In [65]:
for id,items in enumerate(test_loader):
    val = items

In [68]:
x,y = val

In [69]:
x

tensor([ 27,  27,  27,  28,  29,  29,  29,  29,  29,  29,  29,  29,  29,  29,
         29,  29,  29,  30,  30,  30,  30,  30,  31,  31,  31,  31,  31,  31,
         31,  32,  33,  33,  33,  33,  34,  34,  34,  35,  35,  35,  35,  35,
         35,  36,  36,  36,  36,  36,  37,  38,  38,  38,  39,  40,  40,  41,
         41,  41,  41,  41,  42,  42,  42,  42,  42,  42,  42,  42,  43,  43,
         43,  43,  43,  44,  44,  45,  45,  46,  46,  46,  46,  47,  47,  47,
         47,  47,  48,  48,  48,  48,  48,  49,  49,  51,  52,  52,  52,  53,
         53,  53,  53,  54,  54,  54,  55,  55,  55,  55,  55,  55,  55,  55,
         55,  55,  55,  55,  55,  56,  57,  58,  58,  59,  59,  59,  60,  60,
         61,  62,  63,  63,  63,  64,  64,  65,  66,  67,  67,  67,  68,  69,
         69,  69,  70,  70,  71,  71,  72,  72,  73,  73,  74,  74,  74,  74,
         77,  77,  78,  80,  81,  82,  83,  84,  84,  85,  86,  86,  87,  89,
         90,  90,  92,  92,  94,  95,  95,  95,  96,  96,  96,  98,  99,  99,
        100, 100, 101, 103, 105, 109, 112, 112, 112, 113, 113, 115, 116, 116,
        119, 123, 125, 125, 126, 127, 127, 134, 135, 139, 142, 144, 147, 149,
        154, 155, 156, 158, 159, 166])